/*--------------------------------------------------------------
# Custom CSS Classes
--------------------------------------------------------------*/

.hidden {
    opacity: 0 !important;
    animation: none !important;

    margin: 0;
    padding: 0;
    width: 0;
    height: 0;

    display: none !important;

    pointer-events: none;
    cursor: default;
}

.logo-container {
    /* background-color: red; */
    width: 35%;
  }
  
  .tour-banner {
    /* background-color: blue; */
    background-color: var(--accent-color);
    overflow: hidden;
    width: 0;
    margin: 0;
    padding: 1rem;
    opacity: 0;
  
    text-wrap: nowrap;
  
    animation:  tour-banner-open 2.75s ease-in-out 2s 1 forwards,
                tour-banner-fade-in 2.75s ease-out 2s 1 forwards,
                tour-banner-transforms 2.75s ease-out 2s 1 forwards,
                tour-banner-styling 2.75s ease-out 2s 1 forwards;
  
    border-radius: 0.35rem;
  }
  
  @keyframes tour-banner-open {
    from {
      width: 0;
    }
    to {
      /* width: 27rem; */
      width: 35rem;
    }
  }
  
  @keyframes tour-banner-fade-in {
    from {
      opacity: 0;
    }
    15% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes tour-banner-transforms {
    from {
      transform: scale(0.9) translateY(3rem);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  @keyframes tour-banner-styling {
    from {
      box-shadow: none;
    }
    to {
      /* box-shadow: 1rem 1.25rem 2rem red; */
      box-shadow: 1rem 1.25rem 2rem rgba(0, 0, 0, 0.485);

    }
  }
  
  .main-countdown-container {
    margin-right: 1rem;
    /* background-color: red; */
  }
  
  .countdown-container {
    text-align: center;
    width: 100%;
  }
  
  .countdown-number {
    font-size: 3rem !important;
    /* color: red; */
  }
  
  .countdown-text {
    font-size: 1rem !important;
  }

  .tickets-container {
    /* background-color: red; */
  }

  .maximum-tickets-td {
    padding-left: 1rem;
    /* background-color: blue; */
    padding-top: 1rem;
    
    p {
        color: lightgray;
    }
  }

  #tickets {
    font-size: 2.25rem !important;
  }

  #location-selector {
    font-family: var(--default-font);
    /* appearance: none; */
  }

  #location-selector:hover {
    background-color: rgb(36, 36, 36);
    color: white;
  }

  .purchase-select-container {
    padding-left: 5rem;
  }

  #purchase-ticket-btn {
    /* background-color: var(--heading-color); */
    border-radius: 0.7rem;
    background-color: #2f4d5a;
    color: white;
    padding: 0.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #purchase-ticket {
    margin-bottom: 3rem;
  }

  #myCanvas {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .horizontal-scroll {
    margin: 2rem;
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping */
    gap: 1.5rem; /* Optional: space between items */
    padding: 1.5rem;
    scroll-snap-type: x mandatory;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    width: 18rem;
    box-shadow: .5rem .5rem .75rem rgba(0, 0, 0, 0.336) inset,
    0 0 .5rem rgba(0, 0, 0, 0.623) inset;
  }

  .disc-item {
    flex: 0 0 auto; /* Prevents items from shrinking */
    width: 15rem;
    height: 15rem;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
    border-radius: 8px;
    background-color: rgb(106, 113, 246);
    scroll-snap-align: center;

    /* transform: scale(0.98); */

    /* box-shadow: -.3rem -.3rem .4rem rgba(0, 0, 0, 0.514) inset, .3rem .3rem .4rem rgba(255, 255, 255, 0.185) inset; */
  }

  .main-logo {
    min-width: 500px;
    min-height: 500px;
    overflow: visible !important;
    background-image: url(/assets/img/logo-final.png);
    background-repeat: no-repeat;
    scale: 1.3;
  }

  .disc-list {
    padding-left: 5rem;
    padding-right: 10rem;
    font-size: 1.1rem;
  }

  .disc-info {
    padding-top: 2rem;
    vertical-align: top;
  }

  .disc-box-div {
    display: flex;
    align-items: center;
    position: relative;
  }

  .disc-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    transition-duration: 1s;
    border: solid white 0.2rem;
    background-color: white;
  }

  .disc-btn-disabled {
    transform: scale(0.85);
    background-color: rgba(255, 255, 255, 0.6);
    border: solid rgba(255, 255, 255, 0.62) 0.2rem;
  }

  /* .disabled {
    background-color: red;
    opacity: .5;
  } */

  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }

  .disc-li-highlighted {
    color: var(--accent-color);
    transition-duration: 0.5s;
  }

  .disc-item-highlighted {
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.398);
    transition-duration: 1s;
  }

  .l-person-highlight {
    background-image: radial-gradient(50% black, 50% red) !important;
  }

  .r-person-highlight {

  }

  .t-person-highlight {

  }

  .b-person-highlight {

  }

  .map {
    min-width: 2560px;
    height: 1583px;
    background-image: url('/assets/img/map.png');
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(165deg);
  }